<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat App</title>
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <section class="chat-section">
      <div class="chat-name">
        <img height="40" src="/chat.png" alt="chat logo" />
        <h1>Let's Chat</h1>
      </div>
      <div class="message-area"></div>
      <div>
        <textarea
          id="textarea"
          cols="30"
          rows="1"
          placeholder="Type your message here..."
        ></textarea>
      </div>
    </section>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/client.js"></script>
  </body>
</html>
