<%- include('partials/header') %>

<br /><br />
<h2 class="text-change gab-head">GAB-UP App</h2>
<img class="home-logo" src="/chat.png" alt="chat logo" />
<br />

<div class="button-register">
  <a class="btn btns submit" href="register">Register</a>
</div>

<div class="button-login">
  <a class="btn btns submit" href="login">Login</a>
</div>
<%- include('partials/footer') %>
