* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    background-image: linear-gradient(#debace, #ba94d1);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    justify-content: center;
    height: 50%;
}

/* Chat section area styles */
section.chat-section {
    /* background-image: linear-gradient(#7F669D, #BA94D1); */
    background-image: linear-gradient(#debace, #ba94d1);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2px solid black;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    max-width: 100%;
    width: 600px;
}

/* Let's chat styles */
.chat-name {
    align-items: center;
    background: #ffffff;
    display: flex;
    padding: 5px;
}

.chat-name h1 {
    color: black;
    font-size: 20px;
    margin-left: 10px;
}

/* Message style */
.message-area {
    display: flex;
    flex-direction: column;
    height: 335px;
    overflow-y: auto;
    padding: 16px;
    padding-top: 30px;
}

.message {
    border-radius: 4px;
    margin-bottom: 30px;
    max-width: 300px;
    padding: 10px;
    position: relative;
}

.message h4 {
    color: #333;
    font-size: 14px;
    left: 0;
    position: absolute;
    top: -20px;
}

/* left and right Message style */
.left {
    background: #3f3b6c;
    color: #ffffff;
}

.right {
    background: #7f669d;
    color: #ffffff;
    margin-left: auto;
}

/* Message sent area styles */
textarea {
    background: #eeeeee;
    border: 2px solid black;
    border-radius: 25px;
    font-size: 12px;
    outline: none;
    padding: 10px;
    width: 100%;
}
